body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background:none repeat scroll 0 0 #fff;
  font-size:16px;
  font-family:"Open Sans",Arial,sans-serif;
  color:#444;
  background-color: #DCDCDC;
}

* {  
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;	
}

nav {
    display: block;
    width: 98%;
    background: #152732;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

}
h5 {
	font-size: 2.7rem;\
	font-weight: normal;
    line-height: 1.3;
    margin: 0.5rem 0;
	padding-bottom: 10px;
}
h3 {
	font-size: 1.8rem;
	margin-bottom: 0px;
}
p {
	font-size: 1.1rem;

}
h2 {
	font-size:2.2rem;
	margin-left:20px;
}
h1 {
	font-size:2.2rem;
}


li a:hover {
    background-color:gray;
	box-sizing: border-box;

	
}
section {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	background-color: #fff;
	padding: 10px;

}
 article{
  background-color: rgba(244, 255, 255, 0.8);
  text-align: none;
  padding: 20px 0;
  font-size: 14px;
	
}
aside:hover {
	background-color: black:;

}

th	{
    border: 1px;
    padding: 0; 
	margin: 0;
	}	
table	{
    background: none repeat scroll 0 0 #fff;
    display: block;
    padding: 1.25rem;
    width: 100%;
}

td 	{
	border: 1px ;
	padding:0;
	margin: 5px 5px;
	background-color: white;
}
table li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
table ul {
	list-style-type: none;
   	margin: 10px;
    padding: 5px;
    overflow: hidden;
    background-color: gray;
}


button:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
footer a {
	float:right;
	margin-top:-5px;
	padding-bottom:10px;
	
}
footer {
	padding-top: 10px;
	margin-top: 50px;










	
